#                    数据载入、存储及文件格式
---
---

* **read_csv / to_csv read_table / to_tabel**
* **read_json / to_json**
* **read_pickle / to_pickle**
* **read_hdf / to_hdf**
* **read_excel / to_excel**
* **read_sql / to_sql**

### 1. read_csv/read_table

```python
pd.read_csv(
    ['filepath_or_buffer', "sep=','", 'delimiter=None', "header='infer'", 'names=None', 'index_col=None', 'usecols=None', 'squeeze=False', 'prefix=None', 'mangle_dupe_cols=True', 'dtype=None', 'engine=None', 'converters=None', 'true_values=None', 'false_values=None', 'skipinitialspace=False', 'skiprows=None', 'nrows=None', 'na_values=None', 'keep_default_na=True', 'na_filter=True', 'verbose=False', 'skip_blank_lines=True', 'parse_dates=False', 'infer_datetime_format=False', 'keep_date_col=False', 'date_parser=None', 'dayfirst=False', 'iterator=False', 'chunksize=None', "compression='infer'", 'thousands=None', "decimal=b'.'", 'lineterminator=None', 'quotechar=\'"\'', 'quoting=0', 'escapechar=None', 'comment=None', 'encoding=None', 'dialect=None', 'tupleize_cols=None', 'error_bad_lines=True', 'warn_bad_lines=True', 'skipfooter=0', 'doublequote=True', 'delim_whitespace=False', 'low_memory=True', 'memory_map=False', 'float_precision=None'],
)
Signature:
data.to_csv(
    ['path_or_buf=None', "sep=','", "na_rep=''", 'float_format=None', 'columns=None', 'header=True', 'index=True', 'index_label=None', "mode='w'", 'encoding=None', 'compression=None', 'quoting=None', 'quotechar=\'"\'', "line_terminator='\\n'", 'chunksize=None', 'tupleize_cols=None', 'date_format=None', 'doublequote=True', 'escapechar=None', "decimal='.'"],
)

'''
1. path: 文件路径
2. sep/delimiter: 分隔每行字段的字符序列
3. header: 用作列名的行号，默认为0(第一行)，如果数据没有列名则为None
4. idnex_col: 用作结果中行索引的列名或列号
5. names: 结果的列名列表
6. skiprows: 从文件开头处起需要跳过的行数或行号列表
7. na_values: 需要用NA替换的值序列
8. nrows: 从文件开头处读入的行数
9. chunksize: 用于迭代的块大小
'''
```

In [2]:
import numpy as np
import pandas as pd

In [3]:
!type ex1.csv
#使用read_csv方法读取文件
pd.read_csv('ex1.csv')

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
#使用read_table方法，并指定分隔符
pd.read_table('ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
!type ex2.csv
#对于没有表头行的数据，可以指定表头形式
pd.read_csv('ex2.csv',header=None)

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [6]:
pd.read_csv('ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
#index_col:指定某一列作为索引
names = ['a','b','c','d','message']
pd.read_csv('ex2.csv',names=names,index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [8]:
#分层索引
!type csv_mindex.csv
pd.read_csv('csv_mindex.csv',index_col=['key1','key2'])

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [13]:
#分隔符 
print(list(open('ex3.txt')))
pd.read_csv('ex3.txt',sep='\s+')

['            A         B         C\n', 'aaa -0.264438 -1.026059 -0.619500\n', 'bbb  0.927272  0.302904 -0.032399\n', 'ccc -0.264273 -0.386314 -0.217601\n', 'ddd -0.871858 -0.348382  1.100491\n']

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [10]:
#使用skiprows跳过某些行
!type ex4.csv
pd.read_csv('ex4.csv',skiprows=[0,2,3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
#处理缺失值
!type ex5.csv
df = pd.read_csv('ex5.csv')
df

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [17]:
sentinels = {'message':['foo','NA'],'something':['two']}
pd.read_csv('ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

**6.1.1 分块读入文件文件**

In [19]:

pd.options.display.max_rows=10
pd.read_csv('ex6.csv')

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [20]:
#nrows:指定读取的行数
pd.read_csv('ex6.csv',nrows=6)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q

In [21]:
#chunksize:指定读取每块的行数
pd.read_csv('ex6.csv',chunksize=1000)

**6.1.2将数据写入文本格式**

In [148]:
data = pd.read_csv('ex5.csv')
data.to_csv('out.csv')
!type out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [26]:
#指定输出分隔符
import sys
data.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [28]:
#缺失值莫尔尼以空字符串出现，使用标记值对缺失值进行标注
data.to_csv(sys.stdout,na_rep='NA')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NA
1,two,5,6,NA,8,world
2,three,9,10,11.0,12,foo

In [29]:
#禁止写入行列标签
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [30]:
#写入数据子集
data.to_csv(sys.stdout,columns=['a','b','c'])

,a,b,c
0,1,2,3.0
1,5,6,
2,9,10,11.0

---

### 2.JSON数据
```python
Signature:
pd.read_json(
    ['path_or_buf=None', 'orient=None', "typ='frame'", 'dtype=True', 'convert_axes=True', 'convert_dates=True', 'keep_default_dates=True', 'numpy=False', 'precise_float=False', 'date_unit=None', 'encoding=None', 'lines=False', 'chunksize=None', "compression='infer'"],
)
Signature:
data.to_json(
    ['path_or_buf=None', 'orient=None', 'date_format=None', 'double_precision=10', 'force_ascii=True', "date_unit='ms'", 'default_handler=None', 'lines=False', 'compression=None', 'index=True'],
)
```

In [39]:
import json
obj = """{
"name":"Wes",
"places_libed":["United States","Spain","Germany"],
"pet":null,
"siblings":[{"name":"Scott","age":30,"pet":["Zeus","Zuko"]},
             {"name":"Katie","age":38,"pet":["Sixes","STache","Cisco"]}]
}
"""
#将json字符串转换成Python形式
result = json.loads(obj)
result

{'name': 'Wes',
 'places_libed': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pet': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pet': ['Sixes', 'STache', 'Cisco']}]}

In [41]:
#将Python对象转换成json
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_libed": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pet": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pet": ["Sixes", "STache", "Cisco"]}]}'

In [44]:
siblings = pd.DataFrame(result['siblings'],columns=['name','age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [45]:
#read_json方法
!type example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [145]:
data = pd.read_json('example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [147]:
#to_json方法
data.to_json()

In [49]:
data.to_json(orient='records')

'[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]'

---

### 3. 二进制格式
```python
Signature: pd.read_pickle(path, compression='infer')
Signature: frame.to_pickle(path, compression='infer', protocol=4)
```

In [142]:

frame = pd.read_csv('ex1.csv')
frame

In [60]:
#to_pickle
frame.to_pickle('frame_pickle.pkl')

In [66]:
!type frame_pickle.pkl

�晲      �pandas.core.frame攲	DataFrame敁�)仈}�(�_data攲pandas.core.internals攲BlockManager敁�)仈(]�(�pandas.core.indexes.base攲
_new_Index敁攈�Index敁攠�(�data攲numpy.core.multiarray攲_reconstruct敁攲numpy攲ndarray敁擪 厰Cb攪擱�(KK厰h�dtype敁攲O8擪 K嚁R�(K�|擭NNJ����J����K?t攂塢�(�a攲b攲c攲d攲message攅t攂�name擭u啍R攈
�pandas.core.indexes.range攲
RangeIndex敁攠�(h+N�start擪 �stop擪�step擪u啍R攅]�(hhK 厰h嚁R�(KKK啍h�i8擪 K嚁R�(K�<擭NNJ����J����K t攂塁`              	                     
                                                 攖攂hhK 厰h嚁R�(KKK啍h!塢�(�hello攲world攲foo攅t攂e]�(h
h}�(hhhK 厰h嚁R�(KK厰h!塢�(h%h&h'h(et攂h+Nu啍R攈
h}�(hhhK 厰h嚁R�(KK厰h!塢攈)at攂h+Nu啍R攅}攲0.14.1攠�(�axes攈
�blocks擼�(}�(�values攈:�mgr_locs攲builtins攲slice敁擪 KK嚁R攗}�(hfhEhghjKKK嚁R攗eust攂�_typ攲	dataframe攲	_metadata擼攗b.

In [67]:
#read_pickle
pd.read_pickle('frame_pickle.pkl')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

---
### 4. HDF5格式
```python
Init signature:
pd.HDFStore(
    ['path', 'mode=None', 'complevel=None', 'complib=None', 'fletcher32=False', '**kwargs'],
)
Signature: pd.read_hdf(path_or_buf, key=None, mode='r', **kwargs)
Signature: frame.to_hdf(path_or_buf, key, **kwargs)
```

In [95]:
#HDF:分层数据格式,每个hdf5文件可以存储多个数据集并且支持元数据，还支持多种压缩模式的即时压缩，
#使得重复模式的数据可以更高效的存储。HDF5适用于处理不适合在内存中存储的超大型数据。
frame = pd.DataFrame({'a':np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [96]:
store['obj1']

           a
0  -0.087794
1   1.289429
2  -0.200483
3  -1.044559
4  -0.081253
..       ...
95 -0.915216
96  0.063428
97 -0.571054
98  0.000545
99 -0.479866

[100 rows x 1 columns]

In [97]:
#HFDStore支持两种存储模式，'fixed'和'table'。后者速度更慢，但支持一种特殊愈发的查询操作
#将frame数据存入obj2中
store.put('obj2',frame,format='table')
#查找
store.select('obj2',where=['index >= 10 and index <=15'])

           a
10  1.592750
11  1.151927
12 -1.242550
13  1.878892
14 -0.512503
15  1.401069

In [100]:
#read_hdf和to_hdf
# store.close()
store['obj3']

           a
0  -0.597353
1  -1.501378
2   0.429243
3  -1.858765
4  -0.472263
..       ...
95  1.124458
96 -0.223435
97  0.701843
98 -0.436530
99  0.324105

[100 rows x 1 columns]

In [101]:
frame.to_hdf('mydata.h5','obj3',format='table')
pd.read_hdf('mydata.h5','obj3',mode='r+',where=['index<5'])

          a
0 -0.087794
1  1.289429
2 -0.200483
3 -1.044559
4 -0.081253

---
### 5. 读取Excel文件
```python
Signature:
pd.read_excel(
    ['io', 'sheet_name=0', 'header=0', 'names=None', 'index_col=None', 'usecols=None', 'squeeze=False', 'dtype=None', 'engine=None', 'converters=None', 'true_values=None', 'false_values=None', 'skiprows=None', 'nrows=None', 'na_values=None', 'parse_dates=False', 'date_parser=None', 'thousands=None', 'comment=None', 'skipfooter=0', 'convert_float=True', '**kwds'],
)
Signature:
df.to_excel(
    ['excel_writer', "sheet_name='Sheet1'", "na_rep=''", 'float_format=None', 'columns=None', 'header=True', 'index=True', 'index_label=None', 'startrow=0', 'startcol=0', 'engine=None', 'merge_cells=True', 'encoding=None', "inf_rep='inf'", 'verbose=True', 'freeze_panes=None'],
)
```

In [109]:
xlsx = pd.ExcelFile('ex1.xlsx')
#read_excel
df = pd.read_excel(xlsx,'Sheet1')
df
#或者直接用read_excel方法
pd.read_excel('ex1.xlsx','Sheet1')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [110]:
#将数据写入Excel格式中
writer = pd.ExcelWriter('ex2.xlsx')
df.to_excel(writer,'Sheet1')
#或者直接用to_excel方法
df.to_excel('ex2.xlsx')

---
### 6. 与数据库交互
```python
Signature:
pd.read_sql(
    ['sql', 'con', 'index_col=None', 'coerce_float=True', 'params=None', 'parse_dates=None', 'columns=None', 'chunksize=None'],
)
```

In [133]:
#使用Python内建的sqlite3
import sqlite3
#创建表
query = """
    CREATE TABLE test1
    (a VARCHAR(20),b VARCHAR(20),
     c REAL, d INTEGER);
"""
#连接数据库
conn = sqlite3.connect('Data.sqlite')
#执行查询
conn.execute(query)
conn.commit()

In [134]:
#插入几行数据
data = [('Atlanta','Georgia',1.25,6),
        ('Tallahassee','Florida',2.6,3),
        ('Sacramento','California',1.7,5)]
stml = "INSERT INTO test1  VALUES(?,?,?,?)"
conn.executemany(stml,data)

In [135]:
conn.commit()

In [136]:
#执行查询
cursor = conn.execute('select * from test1')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [137]:
#read_sql方法
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///Data.sqlite')
pd.read_sql('select * from test1',db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

---
---